html {
  line-height: 1.5;
  font-family: Merriweather, serif;
  font-style: italic;

  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*font-family: 'Merriweather', serif;*/
header {
  grid-area: header;
}

main {
  grid-area: main;
  grid-template-columns: 1fr;
}

h1 {
  font-size: 1.8rem;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
}

.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4rem 4rem;
}

.banner image {
  grid-column: 1 / -1;
  grid-row: 1 / -3
}

.banner h2 {
  grid-row: 3
  z-index: 1;
}

.banner p {
  grid-row: 2
  z-index: 1;
}

figure {
  padding: 0;
  margin: 0;
}

p, dt {
  font-style: normal;
}

figcaption {
  font-weight: normal;
  font-size: 1.5rem;
}
