html {
  line-height: 1.5;
  font-family: Merriweather, serif;
  font-style: italic;

  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*font-family: 'Merriweather', serif;*/

body {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  "header"
  "main"
  "footer"
}

.top {
  grid-area: header;
}

.arrhba {
  grid-area: main;
}

dl {
  grid-area: footer;
}

h1 {
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0;
  padding: 1.5rem;
}

.top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4rem 4em;
}

.top h2 {
  grid-column: 1 / 4;
  grid-row: 2;
  z-index: 1;
  color: #fff;
  font-weight: normal;
padding-top: 1.5rem;
  padding-left: 1rem;
}

.top p {
  grid-column: 1 / 4;
  grid-row: 3;
  z-index: 1;
  color: #fff;
  padding-left: 1rem;
}

.top img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

img {
  width: 100%;
}

p, dt {
  font-style: normal;
}

figcaption {
  font-weight: normal;
  font-size: 1.5rem;
  margin: .5rem;
  padding: .3rem;
}

.arrhba {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 17rem;
  margin-left: 0;
gap: .75rem;
}

.arrhba .artemis {
  grid-column: 1;
  grid-row: 1;
  padding-top: 1rem;
  margin: 0;
}

.arrhba .rhodes {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  padding-top: 1rem;
}

.arrhba .babylon {
  grid-column: 3;
  grid-row: 1;
  margin: 0;
  padding-top: 1rem;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0;
  padding-top: 14rem;
  padding-left: 1rem;
  gap: 1rem;
  align-self: auto;
}

dd {
  font-style: normal;
}

dt {
  font-style: italic;
}

dl div:first-child {
  grid-column: 1;
  grid-row: 1;
  align-self: auto;
  margin: 0;
}

dl div:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
