html {
  line-height: 1.5;
  font-family: Merriweather, serif;
  font-style: italic;

  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*font-family: 'Merriweather', serif;*/

body {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  grid-template-columns: 1fr;
}

h1 {
  font-size: 1.8rem;
  font-weight: normal;
}

.banner h2 {
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
  color: #fff;
  padding-left: 1rem;
}

.banner p {
  grid-column: 1;
  grid-row: 3;
  z-index: 1;
  color: #fff;
  padding-left: 1rem;
}

.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 4rem 4rem;
  margin: auto;
}

/*.banner image {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}*/

.banner image {
 padding: 1rem;
}

img {
  width: 100%;
}

.banner figure {
  /*width: 100%;*/
  height: auto;
  grid-column: 1;
  grid-row: 1 / -1;
  background-size: cover;
}

figure {
  padding: 0;
  margin: 0;
}

p, dt {
  font-style: normal;
}

figcaption {
  font-weight: normal;
  font-size: 1.5rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4rem 4rem 4rem 4rem;
  align-self: center;
}

figcaption {
  margin: 1rem;
  padding: 1rem;
}

.img1 img {
  size: 14%;
}

.img1 img {
  grid-column: 1;
  grid-row: 1;
  background-size: cover;
}
